@keyframes pop-in{
    50%{
        transform: scale(0);
    }
    85%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(1);
    }

}

#support{
    width: 10vmin;
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 10000;
    animation: pop-in 1s ease-out;
    transition: transform 0.1s;
}

#support:hover{
    transform: scale(1.1);
}